<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleslogin.css" type="text/css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon"> <!-- Update path to your logo -->
    <title>Login</title>
</head>
<body>
    <div class="container">
        <!-- Left Column for Login Form -->
        <div class="left-column">
            <div class="centered">
                <h1>Minerva's Cleaning Service</h1>
            </div>
            <fieldset>
                <div class="centered">
                    <h2>User Login</h2>
                </div>
                <form action="/login" method="post">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" value="">
                    <br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="">
                    <br>
                    <button type="submit">Login</button>
                </form>
            </fieldset>
            <br>
            <div class="centered">
                <a href="/">Return Home</a>
            </div>
        </div>

        <!-- Right Column for Logo/Image -->
        <div class="right-column">
            <img src="/images/logo.png" alt="Logo">
        </div>
    </div>
</body>
</html>
