<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/thankyou.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Minerva's Cleaning Service</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Who We Are</a></li>
                <li><a href="/">Our Services</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </nav>
        <div class="login-button">
            <form action="/login" method="get">
                <button>Login</button>
            </form>
            <form action="/signupclient" method="get">
                <button>Request Services</button>
            </form>
        </div>
    </header>

    <!-- Thank You Section -->
    <div class="thankyou-container">
        <div class="card">
            <h1>Thank You for Requesting Our Services!</h1>
            <p>We're thrilled to be able to come do work for you! We will be in contact with you soon.</p>
            <!--<a href="/login" class="cta-button">Get Started</a>-->
        </div>
    </div>
</body>
</html>
