.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Navigation Bar */
.navbar {
    background-color: #5BB8C1; /* Professional dark blue-gray */
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem; /* Space between nav items */
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #2c3e50; /* Slightly darker blue-gray */
}


h1 {
    text-align: center;
    font-size: 2rem;
    color: #5BB8C1;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus {
    border-color: #5BB8C1;
    outline: none;
    box-shadow: 0px 0px 3px rgba(91, 184, 193, 0.8);
}

button {
    width: 100%;
    background-color: #5BB8C1;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    padding: 0.7rem;
    border-radius: 4px;
    margin: 10px;
}

button:hover {
    background-color: #489A9E;
}

.cancel-button {
    background-color: #AAA;
    color: #fff;
    font-weight: bold;
}

.cancel-button:hover {
    background-color: #888;
}

.form-group {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .container {
        margin: 1rem;
        padding: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }
}
