body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F9FA;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #5BB8C1;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input, select, button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus, select:focus {
    border-color: #5BB8C1;
    outline: none;
    box-shadow: 0px 0px 3px rgba(91, 184, 193, 0.8);
}

button {
    background-color: #5BB8C1;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    padding: 0.7rem;
    margin: 10px;
}

button:hover {
    background-color: #489A9E;
}

button[type="button"] {
    background-color: #AAA;
}

button[type="button"]:hover {
    background-color: #888;
}

@media (max-width: 600px) {
    .container {
        margin: 1rem;
        padding: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }
}