.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    background-color: #5BB8C1;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

header .logo h1 {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.login-button {
    display: flex;
    flex-direction: row;
}

.login-button button {
    background-color: #5CA838;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.login-button button:hover {
    background-color: #3C8D32;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    color: #5BB8C1;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 1rem 0;
    border-top: 1px solid #ddd;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 5px;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px;
}

input:focus, select:focus {
    border-color: #5BB8C1;
    outline: none;
    box-shadow: 0px 0px 3px rgba(91, 184, 193, 0.8);
}

button {
    width: 100%;
    background-color: #5BB8C1;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    padding: 0.7rem;
    border-radius: 4px;
}

button:hover {
    background-color: #489A9E;
}

button[type="button"] {
    background-color: #AAA;
}

button[type="button"]:hover {
    background-color: #888;
}

.form-group {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .container {
        margin: 1rem;
        padding: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }
}